body{

    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header--main{
color:cornsilk;
font-weight: normal;
font-size: 50px;

}

.link--cta{
font-size: 16px;
color:aquamarine;


}

h1{


}

p{


}

img{



}