body{

    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* HEADINGS */
.header--main{
color:cornsilk;
font-weight: normal;
font-size: 50px;

}

.header--secondary{
    color:cornsilk;
    font-weight: 300;
    font-size: 42px;
    
    }

    .header--sub-header{
        color:gray;
        font-size: 21px;
        
        }

    /* LINKS */

.link--cta{
font-size: 16px;
color:aquamarine;


}

h1{


}

p{


}

img{



}